@model HassanShop.Front.Models.ProductViewModel
@using HassanShop.Front.Helper

<div class="col-md-10 " id="productsDiv" >
    <div class="panel panel-primary">
        <div class="panel-heading">Top de vente pour cette semaine</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>Identifiant</td>
                    <td>Nom du produit</td>
                    <td>Description</td>
                    <td>Stock dispo</td>
                    <td>Prix</td>
                </tr>
                @foreach (var product in Model.Products)
                {
                <tr>
                    <td>@product.ProductId      </td>
                    <td>@product.ProductName    </td>
                    <td>@product.Description    </td>
                    <td>@product.Categorie       </td>
                    <td>@product.HasStock       </td>
                    <td>@product.Price €       </td>
                    <td></td>
                </tr>
                }
            </table>
        </div>
        @Html.RenderPagination(Model.CurrentPage, Model.TotalPage)
        @*
            <ul class="pagination">
                @for (int i = 0; i < ViewBag.TotalPage; i++)
                {
                    if (i < 3 || i >= ViewBag.TotalPage - 3)
                    {
                        int index = i + 1;
                        <li> <a href="/Home/Index?page=@i&size=5"> @index</a> </li>
                    }
                    else
                    {
                        <li><a href="#" disabled="true">.</a> </li>
                    }
                }
                 @ViewBag.CurrentPage / @ViewBag.TotalPage
             </ul>
        *@
    </div>
</div>
